/* gopher.css */

/* @import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Hairline.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-HairlineItalic.ttf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Heavy.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-HeavyItalic.ttf");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-Thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Gopher";
  src: url("./Gopher/Gopher-ThinItalic.ttf");
  font-style: italic;
  font-weight: 200;
}
